 <footer>
        <p><i class="fa-solid fa-address-card"></i> <span>Abdullah khan</span> </p>
        <p> <i class="fa-solid fa-location-dot"></i><span>Balakot, District Mansehra </span> </p>
        {{!-- <p><i class="fa-solid fa-at"></i><span> abdullah.javed9438@gmail.com</span> </p> --}}
        {{!-- <p><i class="fa-solid fa-building-columns"></i><span> Comsats University Abbottabad</span> </p> --}}


    </footer>