<!DOCTYPE html>
<html lang="en">
<head>
   {{>headLinks}}
   <style>
        .main_header_left h1 {
            font-size: 32px;
        }

        .main_header_right {
            height: 52rem;
            margin-top: 21px;
        }

        .main_header_right img {
            height: 51rem;
        }
        .myimg{
            
                width: 700px;
    margin-left: 221px;
        }
        .myleft{
               
    height: 200px;
    margin-left: 297px;
        }
        .chng{
            height: 350px;
        }
        .chngbtn{
                margin-left: 221px;
    margin-top: -23px;
        }
    </style>
</head>
<body>
    {{>header}}
   <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row myrow">
                     <figure class="myimg">
                            <img class="w-100 img-fluid chng" src="images/my404pic.jpg" alt="First slide">
                        </figure>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left myleft">
                        
                        <h1>I Am A <span>Mern Stack Developer</span> , Freelauncer</h1>
                        <a href="/"><button class="chngbtn">Go Back</button></a>

</div>

                 


                    <!-- right side div             -->
                    


                       




                   
                </div>

            </div>
        </div>
    </div>
    </div>

    {{>footer}}
</body>
</html>